.mainwrapper{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    background-color: #282D35;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    line-height: 2rem;
    position: relative;
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #61DAFB; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: .5em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    font-size: 2rem;
    
  }

ul {
    list-style: none; 
    margin-bottom: 70px;
    
  }

  .watermarcicon{
    position: absolute;
    right:0px;
    top:5px
  }